./Septiembre_Bernal/OLD_Estadistica_Septiembre.Rmd
./Septiembre_Bernal/Analisis_Potencia.Rmd
./Septiembre_Bernal/Comparación_Distancias.Rmd
./Septiembre_Bernal/Revisión_Sujetos.Rmd
./Septiembre_Bernal/img
